:root {
  --bs-breadcrumb-divider: '>';
}

.editor-box {
  height: 500px;
  width: 100%;
}

.error-message {
  color: red;
}


/* row highlight in ace code editor */
.line-highlight {
  background-color: dimgrey;
  position: absolute;
}