/* all nav elements */
nav {
    font-family: Arial;
    border-bottom: 1px solid black;
  }
  
  /* lists in nav bars */
  nav ul {
    list-style-type: none; /* remove the bullet */
  }
  
  /* list items in nav bars */
  nav ul li {
    display: inline; /* put them side by side */
  }
  
  /* links in nav bars */
  nav a {
    color: black;
  }
  
  /* separators in nav.main class */
  nav.main li:not(:last-child)::after {
    content: "|";
    padding: 0 20px;
  }
  
  /* separators in nav.trail class */
  nav.trail li:not(:last-child)::after {
    content: '>';
    padding: 0 10px;
  }