{% from 'tabs.html.j2' import input_tab, output_tab %}
{% extends 'base.html.j2' %}
{% block head %}
{% include 'load_jquery.html' %}
{% include 'load_ace.html' %}
{% include 'load_datatables.html' %}
<script src="/static/functions.js"></script>
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}
<div class="container">
    <h1>Static Checking</h1>
    <nav class="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Check</li>
            <li class="breadcrumb-item">Document</li>
            <li class="breadcrumb-item">Test</li>
            <li class="breadcrumb-item">Classify</li>
        </ol>
    </nav>
    {{ input_tab() }}
</div>
{% include 'error_form.html.j2' %}
{% if error %}
<div class="container rounded border border-danger">
    <p class="error-message">{{ error }}</p>
</div>
{% endif %}
<form id="form" method="POST" action="/add" novalidate>
    <div class="container border border-primary rounded">
        {{ form.csrf_token }}
        <label for="editor_box" class="form-label">Source Code</label>
        <div id="editor_box" class="editor-box"></div>
        <input type="hidden" id="code" name="code">
    </div>
    <div class="container">
    <div class="btn-group my-3">
        {{ form.run }}
        {{ form.doc }}
    </div>
    </div>
</form>
<script nonce="{{ csp_nonce() }}">
    setSpinner("form")
    addEditor("editor_box", {{ form.code.data | tojson }}, "code")
</script>
<div class="container">
{{ output_tab(editable=False) }}
</div>
<div class="container border border-secondary rounded">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="linting-tab" data-bs-toggle="tab" data-bs-target="#linting-tab-pane"
                type="button" role="tab" aria-controls="linting-tab-pane" aria-selected="true">Linting <span
                    class="badge text-bg-secondary">{{lint_result|length if lint_result is defined else
                    0}}</span></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="typing-tab" data-bs-toggle="tab" data-bs-target="#typing-tab-pane"
                type="button" role="tab" aria-controls="typing-tab-pane" aria-selected="false">Typing <span
                    class="badge text-bg-secondary">{{type_result|length if type_result is defined else
                    0}}</span></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security-tab-pane"
                type="button" role="tab" aria-controls="security-tab-pane" aria-selected="false">Security <span
                    class="badge text-bg-secondary">{{security_result|length if security_result is defined else
                    0}}</span></button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="linting-tab-pane" role="tabpanel" aria-labelledby="linting-tab"
            tabindex="0">
            {% if lint_result is defined and lint_result|length > 0 %}
            <p>Click on a row to highlight the relevant part in code window. Click on an ID number to view more details
                about the
                issue.
                Feel free to make adjustments in the source code and run the linting again.</p>
            <table id="lint-results">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Message</th>
                        <th>Object</th>
                        <th>Line</th>
                        <th hidden>Startcolumn</th>
                        <th hidden>Endline</th>
                        <th hidden>Endcolumn</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lint_result %}
                    <tr>
                        <td>{{ item.type }}</td>
                        <td><a target="_blank" rel="noreferrer noopener" href="{{ item.link }}">{{ item["message-id"]
                                }}</a></td>
                        <td>{{ item.message }}</td>
                        <td>{{ item.obj }}</td>
                        <td>{{ item.line }}</td>
                        <td hidden>{{ item.column }}</td>
                        <td hidden>{{ item.endLine }}</td>
                        <td hidden>{{ item.endColumn }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script nonce="{{ csp_nonce() }}">
                // highlight code when related row is clicked
                addRowHandler("lint-results", pylintRowClicked)

                // apply datatables script to linting results
                makeDatatable("lint-results")
            </script>


            <div id="lint_box" class="editor-box"></div>
            <script nonce="{{ csp_nonce() }}">
                // add editor box for linting results
                addEditor("lint_box", {{ form.code.data | tojson }}, null, parse_lint_results())
            </script>

            {% else %}
            <p>No errors or warnings.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="typing-tab-pane" role="tabpanel" aria-labelledby="typing-tab" tabindex="0">
            {% if type_result is defined and type_result|length > 0 %}
            <p>Click on a row to highlight the relevant part in code window. Click on an ID number to view more details
                about the
                issue.
                Feel free to make adjustments in the source code and run the check again.</p>
            <table id="type-results">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Line</th>
                        <th hidden>Startcolumn</th>
                        <th hidden>Endline</th>
                        <th hidden>Endcolumn</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in type_result %}
                    <tr>
                        <td>{{ item.severity }}</td>
                        <td>{{ item.message }}</td>
                        <td>{{ item.line }}</td>
                        <td hidden>{{ item.col }}</td>
                        <td hidden>{{ item.endLine }}</td>
                        <td hidden>{{ item.endCol }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script nonce="{{ csp_nonce() }}">
                // highlight code when related row is clicked
                addRowHandler("type-results", pyrightRowClicked)

                // render newlines in message field
                var columns = [
                    null,
                    {
                        "render": function (data, type, row) {
                            return data.split("\n").join("<br/>");
                        }
                    },
                    null,
                    null,
                    null,
                    null
                ]
                // apply datatables script to type results
                makeDatatable("type-results", columns)
            </script>


            <div id="type_box" class="editor-box"></div>
            <script nonce="{{ csp_nonce() }}">
                // add editor box for type results
                addEditor("type_box", {{ form.code.data | tojson }}, null, parse_type_results())
            </script>

            {% else %}
            <p>No errors or warnings.</p>
            {% endif %}

        </div>
        <div class="tab-pane fade" id="security-tab-pane" role="tabpanel" aria-labelledby="security-tab" tabindex="0">
            {% if security_result is defined and security_result|length > 0 %}
            <p>Click on a row to highlight the relevant part in code window. Click on an ID number to view more details
                about the
                issue.
                Feel free to make adjustments in the source code and run the check again.</p>
            <table id="security-results">
                <thead>
                    <tr>
                        <th>Test</th>
                        <th>ID</th>
                        <th>Message</th>
                        <th>Severity</th>
                        <th>Confidence</th>
                        <th>Object</th>
                        <th>Weakness</th>
                        <th>Line</th>
                        <th hidden>Startcolumn</th>
                        <th hidden>Endline</th>
                        <th hidden>Endcolumn</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in security_result %}
                    <tr>
                        <td>{{ item.test }}</td>
                        <td><a target="_blank" rel="noreferrer noopener" href="{{ item.test_link }}">{{ item.test_id
                                }}</a></td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.severity }}</td>
                        <td>{{ item.confidence }}</td>
                        <td>{{ item.object }}</td>
                        <td><a target="_blank" rel="noreferrer noopener" href="{{ item.cwe_link }}">CWE-{{ item.cwe_id
                                }}</a></td>
                        <td>{{ item.line }}</td>
                        <td hidden>{{ item.col }}</td>
                        <td hidden>{{ item.line_end }}</td>
                        <td hidden>{{ item.col_end }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script nonce="{{ csp_nonce() }}">
                // highlight code when related row is clicked
                addRowHandler("security-results", banditRowClicked)

                // apply datatables script to security results
                makeDatatable("security-results")
            </script>


            <div id="security_box" class="editor-box"></div>
            <script nonce="{{ csp_nonce() }}">
                // add editor box for security results
                addEditor("security_box", {{ form.code.data | tojson }}, null, parse_security_results())
            </script>

            {% else %}
            <p>No errors or warnings.</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
{% block afterbody %}
{% include 'load_popovers.html' %}
{% endblock %}