{% extends 'base.html.j2' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.28.0/ace.js"
    integrity="sha512-ZxGMf7jYJjId6DxujolfBm1Fgk3eNuujx2bg1oFB6jlXhj33BR47Pnh4wLRhvdCpwoWCKP23sdLQPrIBlTEFKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/functions.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ace/ace.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ace/theme/monokai.css') }}">
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Add new function</h1>
<nav class="trail">
    <ul>
        <li><strong>Lint</strong></li>
        <li>Document</li>
        <li>Test</li>
        <li>Classify</li>
    </ul>
</nav>
<h1>Static Checking</h1>
{% include 'error_form.html.j2' %}
{% if error %}
<p class="error-message">{{ error }}</p>
{% endif %}
<form method="POST" action="/add">
    {{ form.csrf_token }}
    <label for="editor_box" class="subtitle">Source Code</label><br>
    <div id="editor_box" class="editor-box"></div>
    <input type="hidden" id="code" name="code">
    {{ form.lint }} {{ form.doc }}
</form>
<script nonce="{{ csp_nonce() }}">
    ace.config.set("useStrictCSP", true);
    var editor = ace.edit("editor_box");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    editor.setValue({{ form.code.data | tojson | safe }});
    editor.setHighlightActiveLine(false);
    editor.clearSelection()

    // add editor content to form when it is submitted
    document.querySelector('form').addEventListener('submit', function () {
        document.getElementById('code').value = editor.getValue();
    });
</script>
{% if lint_result is defined %}
<h2>Linting Results</h2>
{% if lint_result|length > 0 %}
<p>Click on a row to highlight the relevant part in code window. Click on an ID number to view more details about the issue.
Feel free to make adjustments in the source code and run the linting again.</p>
<table id="lint-results">
    <thead>
        <tr>
            <th>Type</th>
            <th>Object</th>
            <th>Message</th>
            <th>ID</th>
            <th>Line</th>
            <th hidden>Startcolumn</th>
            <th hidden>Endline</th>
            <th hidden>Endcolumn</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lint_result %}
        <tr>
            <td>{{ item.type }}</td>
            <td>{{ item.obj }}</td>
            <td>{{ item.message }}</td>
            <td><a href="{{ item.link }}" >{{ item["message-id"] }}</a></td>
            <td>{{ item.line }}</td>
            <td hidden>{{ item.column }}</td>
            <td hidden>{{ item.endLine }}</td>
            <td hidden>{{ item.endColumn }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script nonce="{{ csp_nonce() }}">
// handle highlighting rows in code, based on user clicking rows on results table
document.addEventListener("DOMContentLoaded", function() {
    
    // the results table
    const table = document.getElementById("lint-results");

    // the table
    table.addEventListener("click", function(event) {
        
        // the row which was clicked
        let row = event.target.closest('tr');

        // do highlighting
        pylintRowClicked(row);
    });
});
</script>
<div id="lint_box" class="editor-box"></div>
<script nonce="{{ csp_nonce() }}">
    var lint_obj = ace.edit("lint_box");
    lint_obj.setTheme("ace/theme/monokai");
    lint_obj.getSession().setMode("ace/mode/python");
    lint_obj.setValue({{ form.code.data | tojson | safe }});
    lint_obj.setHighlightActiveLine(false);
    lint_obj.setReadOnly(true);
    lint_obj.clearSelection()
    lint_obj.session.setAnnotations(parse_lint_results());
</script>
{% else %}
<p>No errors or warnings.</p>
{% endif %}
{% endif %}
{% endblock %}