{% extends 'base.html.j2' %}
{% block head %}
{% include 'load_jquery.html' %}
{% include 'load_ace.html' %}
{% include 'load_datatables.html' %}
<script src="/static/functions.js"></script>
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Add new function</h1>
<nav class="trail">
    <ul>
        <li><strong>Check</strong></li>
        <li>Document</li>
        <li>Test</li>
        <li>Classify</li>
    </ul>
</nav>
<h1>Static Checking</h1>
{% include 'error_form.html.j2' %}
{% if error %}
<p class="error-message">{{ error }}</p>
{% endif %}
<form id="form" method="POST" action="/add">
    {{ form.csrf_token }}
    <label for="editor_box" class="subtitle">Source Code</label><br>
    <div id="editor_box" class="editor-box"></div>
    <input type="hidden" id="code" name="code">
    {{ form.lint }} {{ form.doc }}
</form>
<script nonce="{{ csp_nonce() }}">
    setSpinner("form")
    addEditor("editor_box", {{ form.code.data | tojson }}, "code")
</script>
{% if lint_result is defined %}
<h2>Linting Results</h2>
{% if lint_result|length > 0 %}
<p>Click on a row to highlight the relevant part in code window. Click on an ID number to view more details about the
    issue.
    Feel free to make adjustments in the source code and run the linting again.</p>
<table id="lint-results" class="hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Object</th>
            <th>Message</th>
            <th>ID</th>
            <th>Line</th>
            <th hidden>Startcolumn</th>
            <th hidden>Endline</th>
            <th hidden>Endcolumn</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lint_result %}
        <tr>
            <td>{{ item.type }}</td>
            <td>{{ item.obj }}</td>
            <td>{{ item.message }}</td>
            <td><a href="{{ item.link }}">{{ item["message-id"] }}</a></td>
            <td>{{ item.line }}</td>
            <td hidden>{{ item.column }}</td>
            <td hidden>{{ item.endLine }}</td>
            <td hidden>{{ item.endColumn }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script nonce="{{ csp_nonce() }}">
    // highlight code when related row is clicked
    addRowHandler("lint-results", pylintRowClicked)
    
    // apply datatables script to linting results
    makeDatatable("lint-results")
</script>


<div id="lint_box" class="editor-box"></div>
<script nonce="{{ csp_nonce() }}">
    // add editor box for linting results
    addEditor("lint_box", {{ form.code.data | tojson }}, null, parse_lint_results())
</script>

{% else %}
<p>No errors or warnings.</p>
{% endif %}
{% endif %}
{% endblock %}