{% extends 'base.html.j2' %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Name and Classify your function</h1>
<nav class="trail">
    <ul>
        <li><a href="/add">Lint</a></li>
        <li><a href="/doc">Document</a></li>
        <li><a href="/test">Test</a></li>
        <li><strong>Classify</strong></li>
    </ul>
</nav>
<p>Give your function and name and describe its use case. Click 'Generate Keywords' to have OpenAI
    automatically generate a list of relevant keywords for you. You can modify the results before saving the function.
</p>
{% include 'error_form.html.j2' %}
<form method="POST" action="/classify">
    {{ form.csrf_token }}
    <div>{{ form.name.label }} <br> {{ form.name }}</div>
    <div>{{ form.usecase.label }} <br> {{ form.usecase }}</div>
    <div>{{ form.keywords.label }} <br> {{ form.keywords }}</div>
    {{ form.generate }}
    {{ form.save }}
</form>
{% endblock %}