{% extends 'base.html.j2' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.28.0/ace.js"
    integrity="sha512-ZxGMf7jYJjId6DxujolfBm1Fgk3eNuujx2bg1oFB6jlXhj33BR47Pnh4wLRhvdCpwoWCKP23sdLQPrIBlTEFKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/functions.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ace.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='monokai.css') }}">
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Document your function</h1>
<nav class="trail">
    <ul>
        <li><a href="/add">Lint</a></li>
        <li><strong>Document</strong></li>
        <li>Test</li>
        <li>Classify</li>
    </ul>
</nav>
<p>Click 'Generate Docs' to have OpenAI to automatically enhance your code with comments and docstrings.
    Feel free to further improve the result, before clicking 'Next'.
</p>
{% include 'error_form.html.j2' %}
<form method="POST" action="/doc">
    {{ form.csrf_token }}
    <label for="editor_box_code">Source Code</label><br>
    <div id="editor_box_code" class="editor-box"></div>
    <input type="hidden" id="code" name="code">
    <label for="editor_box_documented">Source Code (Documented)</label><br>
    <div id="editor_box_documented" class="editor-box"></div>
    <input type="hidden" id="documented" name="documented">
    {{ form.generate }}
    {{ form.next }}
</form>
<script nonce="{{ csp_nonce() }}">
    ace.config.set("useStrictCSP", true);
    var editor_code = ace.edit("editor_box_code");
    editor_code.setTheme("ace/theme/monokai");
    editor_code.getSession().setMode("ace/mode/python");
    editor_code.setValue({{ form.code.data | tojson | safe }});
    editor_code.setHighlightActiveLine(false);
    editor_code.clearSelection()

    // add editor content to form when it is submitted
    document.querySelector('form').addEventListener('submit', function () {
        document.getElementById('code').value = editor_code.getValue();
    });

    var editor_documented = ace.edit("editor_box_documented");
    editor_documented.setTheme("ace/theme/monokai");
    editor_documented.getSession().setMode("ace/mode/python");
    editor_documented.setValue({{ form.documented.data | tojson | safe }});
    editor_documented.setHighlightActiveLine(false);
    editor_documented.clearSelection()

    // add editor content to form when it is submitted
    document.querySelector('form').addEventListener('submit', function () {
        document.getElementById('documented').value = editor_documented.getValue();
    });
</script>
{% endblock %}