{% extends 'base.html.j2' %}
{% block head %}
{% include 'load_jquery.html' %}
{% include 'load_ace.html' %}
<script src="/static/functions.js"></script>
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Document your function</h1>
<nav class="trail">
    <ul>
        <li><a href="/add">Check</a></li>
        <li><strong>Document</strong></li>
        <li>Test</li>
        <li>Classify</li>
    </ul>
</nav>
<p>Click 'Generate Docs' to have OpenAI to automatically enhance your code with comments and docstrings.
    Feel free to further improve the result, before clicking 'Next'.
</p>
{% include 'error_form.html.j2' %}
{% if error %}
<p class="error-message">{{ error }}</p>
{% endif %}
<form id="form" method="POST" action="/doc">
    {{ form.csrf_token }}
    <label for="editor_box_code">Source Code</label><br>
    <div id="editor_box_code" class="editor-box"></div>
    <input type="hidden" id="code" name="code">
    <label for="editor_box_documented">Source Code (Documented)</label><br>
    <div id="editor_box_documented" class="editor-box"></div>
    <input type="hidden" id="documented" name="documented">
    {{ form.generate }}
    {{ form.next }}
</form>
<script nonce="{{ csp_nonce() }}">
    setSpinner("form")
    addEditor("editor_box_code", {{ form.code.data | tojson }}, "code")
    addEditor("editor_box_documented", {{ form.documented.data | tojson }}, "documented")
</script>
{% endblock %}