{% extends 'base_nologin.html.j2' %}
{% block title %}Login to Code QA{% endblock %}
{% block body %}
<h1>Email Verification</h1>
<p>Please enter the verification code you received in your email.</p>
{% include 'error_form.html.j2' %}
{% if error %}
<p class="error-message">The code is incorrect</p>
{% endif %}
<form method="POST" action="/verify_email">
    {{ form.csrf_token }}
    <div>{{ form.code.label }}: {{ form.code() }}</div>
    <input type="submit" value="Submit">
</form>
<a href="/logout">Log out</a>
{% endblock %}