{% extends 'base_nologin.html.j2' %}
{% block title %}Login to Code QA{% endblock %}
{% block body %}
<div class="container">
    <h1>Email Verification</h1>
    <p>Please enter the verification code you received in your email.</p>
    {% include 'error_form.html.j2' %}
    {% if error %}
    <div class="container rounded border border-danger">
        <p class="error-message">{{ error }}</p>
    </div>
    {% endif %}
    <form method="POST" action="/verify_email">
        {{ form.csrf_token }}
        <div class="form-floating mb-3">
            {{ form.code }}
            <label for="code">Verification code</label>
        </div>
        <div class="btn-group">
        <a href="/logout" class="btn btn-outline-danger">Log out</a>
        {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}