{% extends 'base_error.html.j2' %}
{% block title %}401 Unauthorized{% endblock %}
{% block header %}Unauthorized{% endblock %}
{% block description %}Access to the requested URL requires authorization, but your request did not contain correct authentication details.{% endblock %}