{% extends 'base_error.html.j2' %}
{% block title %}400 Bad Request{% endblock %}
{% block header %}Bad Request{% endblock %}
{% block description %}Your request was invalid and the server cannot process it{% endblock %}