{% extends 'base.html.j2' %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Welcome to Code QA</h1>
<p>This application will allow users to save their Python functions in a code library.</p>
<p>Data you input is processed in Amazon Web Services and through OpenAI API.</p>
{% endblock %}