{% from 'info.html.j2' import info %}
{% extends 'base.html.j2' %}
{% block title %}Code QA{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <h1>Welcome to Code QA</h1>
    </div>
    <div class="row">
        <p>This application will allow users to save their Python functions in a code library.</p>
    </div>
    <div class="row">
        {{ info("Your input is processed in Amazon Web Services and through OpenAI API.") }}
    </div>
</div>
{% endblock %}