{% extends 'base.html.j2' %}
{% block head %}
{% include 'load_jquery.html' %}
{% include 'load_datatables.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" integrity="sha512-mhbv5DqBMgrWL+32MmsDOt/OAvqr/cHimk6B8y/bx/xS88MVkYGPiVv2ixKVrkywF2qHplNRUvFsAHUdxZ3Krg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/functions.js"></script>
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}

<script nonce="{{ csp_nonce() }}">
    // populate the search field, so use can easily edit query
    jQuery("#search_arg").val("{{ search_arg }}")
</script>

<div class="container">
    {% if search_results %}
    <table id="search-results">
        <thead>
            <tr>
                <th>Function Name</th>
                <th>Result Type</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
        {% for item in search_results %}
        {% if item.result_type == "source code" %}
            {% set color = "primary" %}
        {% elif item.result_type == "usecase" %}
            {% set color = "info" %}
        {% else %}
            {% set color = "secondary" %}
        {% endif %}
        <tr>
            <td><a href="/function/{{ item.function_id }}">{{ item.function_name }}</a></td>
            <td><span class="badge text-bg-{{ color }}">{{ item.result_type }}</span></td>
            <td>{{ item.context }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script nonce="{{ csp_nonce() }}">
        // convert regular html table in to jQuery datatable
        makeDatatable("search-results")

        // highlight values in the third column, if search term matches
        jQuery("#search-results tr td:nth-child(3)").mark("{{ search_results[0].match }}")
    </script>
    {% else %}
    <h1>No results.</h1>
    {% endif %}
</div>

{% endblock %}