{% extends 'base.html.j2' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.28.0/ace.js"
    integrity="sha512-ZxGMf7jYJjId6DxujolfBm1Fgk3eNuujx2bg1oFB6jlXhj33BR47Pnh4wLRhvdCpwoWCKP23sdLQPrIBlTEFKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/functions.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ace.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='monokai.css') }}">
{% endblock %}
{% block title %}Code QA{% endblock %}
{% block body %}
<h1>Test your function</h1>
<nav class="trail">
    <ul>
        <li><a href="/add">Lint</a></li>
        <li><a href="/doc">Document</a></li>
        <li><strong>Test</strong></li>
        <li>Classify</li>
    </ul>
</nav>
<p>Click 'Generate Tests' to have OpenAI automatically generate a set of unit tests for your code.
    You can then review and modify the tests, before running them with 'Run Tests'
</p>
{% include 'error_form.html.j2' %}
<form method="POST" action="/test">
    {{ form.csrf_token }}
    <label for="editor_box_documented">Source Code (Documented)</label><br>
    <div id="editor_box_documented" class="editor-box"></div>
    <input type="hidden" id="documented" name="documented">
    <label for="editor_box_unittests">Unit Tests</label><br>
    <div id="editor_box_unittests" class="editor-box"></div>
    <input type="hidden" id="unittests" name="unittests">
    {% if results %}
    <h2>Test results</h2>
    <pre>
        {{ results }}
    </pre>
    {% endif %}
    {{ form.generate }}
    {{ form.run }}
    {{ form.next }}
</form>
<script nonce="{{ csp_nonce() }}">
    ace.config.set("useStrictCSP", true);
    var editor_documented = ace.edit("editor_box_documented");
    editor_documented.setTheme("ace/theme/monokai");
    editor_documented.getSession().setMode("ace/mode/python");
    editor_documented.setValue({{ form.documented.data | tojson | safe }});
    editor_documented.setHighlightActiveLine(false);
    editor_documented.clearSelection()

    // add editor content to form when it is submitted
    document.querySelector('form').addEventListener('submit', function () {
        document.getElementById('documented').value = editor_documented.getValue();
    });

    var editor_unittests = ace.edit("editor_box_unittests");
    editor_unittests.setTheme("ace/theme/monokai");
    editor_unittests.getSession().setMode("ace/mode/python");
    editor_unittests.setValue({{ form.unittests.data | tojson | safe }});
    editor_unittests.setHighlightActiveLine(false);
    editor_unittests.clearSelection()

    // add editor content to form when it is submitted
    document.querySelector('form').addEventListener('submit', function () {
        document.getElementById('unittests').value = editor_unittests.getValue();
    });
</script>
{% endblock %}